body {
	background-color: transparent;
    margin-left: -80px;
}

* {
	font-family: 'Muli', sans-serif;
}

.wrapper {
width: 100%;
margin: 0 auto;
}

header {
	position: fixed;
    width: 2500px;
	margin: -10px 0px 0px 0px;
	z-index: 1;
    height: 71px;
    background-color: rgba(0, 170, 190, 0.9);
}

header #header-logo {
    float: left;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    background: url(../img/logo.png) no-repeat;
    background-size: 50px 50px;
}

header nav {
    float: left;
    padding-left: 0px;
    margin-left: 100px;
    padding-right: 200px;

}

header nav .menu-item {
    float: left;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    -webkit-transform: translate3d(-10px,0,0);
    -moz-transform: translate3d(-10px,0,0);
    -ms-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    cursor: pointer;
    line-height: 50px;
}

li {
    display: inline;
}

header nav .menu-item.two {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

header nav .menu-item.three {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

header nav .menu-item.four {
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

header nav .menu-item:hover {
    border-bottom: 1px solid #fff;

}

header nav .menu-item a{
    color:#fff;
    text-decoration: none;
}


header:hover nav .menu-item {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


section.intropage {
    background-color: #00aabe;
    width: 2000px;
    padding-top: 160px;
    padding-bottom: 160px;
    padding-left: 100px;
    position: relative;
    margin-left:0px;
}

section.intropage h1 {
	padding-left: 45px;
    margin-top: 2px;
    line-height: 0.8;    
    font-family: 'Muli', sans-serif;
    font-size: 72px;
    color: white;
}

section.intropage p {
	padding-left: 49px;
    margin-top: -50px;
    line-height: 0.8;
    font-size: 18px;
    font-weight: 300;
    color: white;
}

section.aboutpage {
    background-color: #eeefff;
    max-width: 1500px;
    background-repeat: 100%;
    padding-top: 160px;
    padding-bottom: 160px;
    padding-left: 100px;
    position: relative;
}

section.aboutpage h1{
    text-align: center;
    margin-top: -150px;
    line-height: 0.8;    
    font-family: 'Muli', sans-serif;
    font-size: 42px;
    color: #8C8C8C;
}

/* unvisited link */
a:link {
    color: #fff;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #fff;
}

/* mouse over link */
a:hover {
    color: #fff;
}

/* selected link */
a:active {
    color: #fff;
}

.welcome {
    width:40%;
}

section.intro .img {
float: right;
display: inline;
   width:27%; margin-top: -300px; margin-left 200px;
}

section.aboutpage p{
    text-align: center;
    color: #8c8c8c;
    font-family: 'Muli';
    font-weight: 300;
}
